<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Raptor Seed</title>

    <link rel="stylesheet" href="assets/styles/app.css" type="text/css" >

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="lib/phaser.min.js"></script>
  </head>

  <body ng-app="init">
    <ng-view></ng-view>
    <footer>
      <script src="../app.js"></script>
      <script src="../routes.js"></script>
      <script src="../controllers/MainController.js"></script>
    </footer>
  </body>
</html>
